<?php

//EtherRain device settings
$ipaddress = "192.168.0.1";
$port = 8080;

//location settings (for time and weather)
$timezone = "America/Edmonton";
$location = "calgary,canada";

//for worldweatheronline.com
$api_key = "get_key_from_worldweatheronline.com";

?>
